@mixin font-text($type) {
  @if $type == 1 {
    font-family: 'Slabo 27px', sans-serif;
  } @else if $type == 2 {
    font-family: 'Merriweather', serif;
  } @else if $type == 3 {
    font-family: 'Arimo', sans-serif;
  }
}

@mixin font-header($type) {
  @if $type == 1 {
    font-family: 'Anton', sans-serif;
  } @else if $type == 2 {
    font-family: 'Fjalla One', sans-serif;
  } @else if $type == 3 {
    font-family: 'Lobster', cursive;
  } @else if $type == 4 {
    font-family: 'Supermercado One', cursive;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  @include font-header(3);
  color: $dark;
  background-color: $white;
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

p{
  @include font-text(3);
  font-size: 1.2em;
}

.content-section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 200px;

  .title{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 100px;
    span{
      padding: 10px 0px;
      border-top: 1px solid $default;
      border-bottom: 1px solid $default;
    }
  }
}

#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}

@media (min-width: 767px) {
  .content-section {
    padding-top: 150px;
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}

.parallax {
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

@media only screen and (max-device-width: 1024px) {
  .parallax {
    background-attachment: scroll !important;
  }
}

.thumbnail {
  height: 350px;
  padding-top: 10px;

  .caption {
    text-align: center;
    text-justify: inter-word;
  }
  &:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }
}

.media{
  padding: 30px 0px 0px 0px;
  .media-object{
    width: 90px;
    margin-right: 10px;
  }
}