.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: $white;
  background: url(../imgs/lamp-black-min.jpeg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  //background: linear-gradient(to bottom, $yellowh 0%, $white 100%);

  .intro-body {
    display: table-cell;
    vertical-align: middle;

    img {
      float: left;
      width: 300px;
    }
    h1 {
      margin: 14% 0px 0px 45px;
      display: inline-block;
    }
  }
}
.lamp-on{
  background: url(../imgs/lamp-black.jpeg) no-repeat bottom center scroll;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}
