.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: $white;
  background: url(../imgs/creative-table-wallpaper.jpeg) no-repeat bottom center scroll;
  //background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  //background: linear-gradient(to bottom, $yellowh 0%, $white 100%);

  .intro-body {
    display: table-cell;
    vertical-align: middle;

    img {
      float: left;
      width: 300px;
    }
    h1 {
      margin: 14% 0px 0px 45px;
    }
  }
}
/*
.background-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  filter: alpha(opacity=100);
  opacity: 1;
  //-webkit-transition: opacity .5s ease-in-out;
  //-moz-transition: opacity .5s ease-in-out;
  //-ms-transition: opacity .5s ease-in-out;
  //-o-transition: opacity .5s ease-in-out;
  transition: opacity .10s;
}
.reduceOpacity{
  filter: alpha(opacity=50);
  opacity: 0.5;
  transition: opacity 3s;
}
.lamp-on {
  background: url(../imgs/light-bulb-hd-min.jpg) no-repeat bottom center scroll;
}
*/
.effect-phrase{
  display: none;
}

.lights-on {
  color: $yellowh;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.intro .intro-body .brand-heading {
  font-size: 40px;
}

.intro .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}
