/* ---------------------------------------------- /*
 * Mouse animate icon
/* ---------------------------------------------- */

.mouse-icon {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #7E4C09;
  border-radius: 16px;
  height: 50px;
  width: 30px;
  margin-left: -15px;
  display: none;
  z-index: 10;
}

.mouse-icon .wheel {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: drop;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.mouse-icon .wheel {
  position: relative;
  border-radius: 10px;
  background: #7E4C09;
  width: 4px;
  height: 10px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes drop	{
  0%   { top:5px;  opacity: 0;}
  30%  { top:10px; opacity: 1;}
  100% { top:25px; opacity: 0;}
}

@keyframes drop	{
  0%   { top:5px;  opacity: 0;}
  30%  { top:10px; opacity: 1;}
  100% { top:25px; opacity: 0;}
}



.scroll{
  position: absolute;
  left:0px;
  bottom: 15px;
  height: 200px;
  width: 100%;

  .phrase-scroll{
    display: none;
    position: absolute;
    top: 25%;
    left: 0px;
    right: 0px;
    width: 100%;
    font-size: 2em;
    color: $default;
  }
}